.footer{
    background: #FAFAFA;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid silver;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}