.footer{
    background: #FAFAFA;
}

.footer-container{
    display: flex;
    align-items: center;
     margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid silver;
    padding-top: 55px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footer-finish{
    margin-top: 50px;
    display: flex;
    align-items: center;
     gap: 30px;
    margin-bottom: 55px;
}

.Ocompany{
     width: 200px;
}

h2{
     font-weight: 700;
    font-size: 13px;
     line-height: 100%;
    letter-spacing: 1.5px;
    color: #838383;
    margin-bottom: 36px;
}

a{
    display: flex;
     justify-content: space-between;
    padding: 10px;
    color: #2D2641;
}