
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background: #f3f2f7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
}

.home{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    position: relative;
     color: #333;
    padding-bottom: 4px;  
     font-weight: 700;
    font-size: 13px;
     line-height: 100%;
     text-align: center;

}

 a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;       
    height: 2px;     
    background: #222223;  
    transition: width 0.3s ease; 
}
a:hover{
    color: rgb(138, 96, 205);
}
a:hover::after {
    width: 100%;
}

.view{
    padding: 8px 18px;
     font-weight: 700;
    font-size: 13px;
     line-height: 100%;
    letter-spacing: 1.5px;
    text-align: center;

}