
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header{
    height: 70px;
    background: #f3f2f7;   
    position: fixed;   
    top: 0;             
    left: 0;            
    width: 100%;      
    z-index: 1000;     
    background-position: center;
}

.home{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}